<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xeniac.harrypotterstorybooks">

    <application
        android:name="com.xeniac.harrypotterstorybooks.SubApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xeniac.harrypotterstorybooks.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xeniac.harrypotterstorybooks.BooksActivity"
            android:label="@string/string_books_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xeniac.harrypotterstorybooks.ChaptersActivity"
            android:parentActivityName="com.xeniac.harrypotterstorybooks.BooksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xeniac.harrypotterstorybooks.FavoritesActivity"
            android:label="@string/string_favorites_title"
            android:parentActivityName="com.xeniac.harrypotterstorybooks.BooksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xeniac.harrypotterstorybooks.PagesActivity"
            android:parentActivityName="com.xeniac.harrypotterstorybooks.ChaptersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>